.header {
   &__inner {
      padding: 19px 0;
      background-color: $header;
      height: 75px;
   }

   &__topline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
   }

   &__topline-left {
      display: flex;
      align-items: center;
   }

   &__topline-right-link {
      margin-left: 33px;
   }

   &__search-btn {
      margin-left: 41px;
   }

   &__topline-right {
      display: flex;
      align-items: flex-end;
   }

   &__menu {
      border: 0;
      background: none;
   }

   &__menu-line {
      width: 32px;
      display: block;
      margin: 8px 0;
      border: 1px solid #fff;
   }
}
